/* Đặt các thông số chung cho toàn bộ trang */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1;
}

/* Styling cho phần footer */
footer {
  background-color: #ffd1dc;
  color: #000000;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-section h4 {
  border-bottom: 2px solid #000000;
  box-shadow: #222;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #6f6d6d;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.payment-icons img {
  width: 50px;
  margin-right: 10px;
}

.newsletter form {
  display: flex;
  flex-direction: column;
}

.newsletter input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.newsletter button {
  padding: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.newsletter button:hover {
  background-color: #777;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: #222;
}

.footer-bottom p {
  margin: 0;
  color: #fff
}

/* Styling cho phần header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffd1dc;
  box-shadow: 0 2px 4px rgba(231, 151, 228, 0.103);
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.logo img {
  height: 60px;
  margin-right: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
}

.navigation-menu {
  width: 100%;
  text-align: center;
  background-color: #fff;
}

.navigation-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navigation-menu li {
  margin: 0 45px;
}

.navigation-menu a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navigation-menu a:hover {
  background-color: #fdc5d2;
}

.loading-icon {
  display: none;
  margin-left: 130px;
  margin-top: 20px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}